body{
	margin: 0px;
	padding: 0px;
	width: 100%;
}

.container{
	width: 100%;
	margin: 0px;
	padding: 0px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	display: inline-block;
}

.container1{
	background-color: #222;
	color: #f2f2f2;
	text-align: center;
	height: 700px;
}

.container h2 {
	font-family: 'Londrina Shadow', sans-serif;
	font-size: 40px;
	font-weight: 300;
}

.container1 h1, .container2 h1, .container4 h1, .container5 h1{
	font-family: 'Londrina Shadow', sans-serif;
	font-size: 60px;
	padding-top: 12%;
	letter-spacing: .1em;
}

.container1 a {
	text-decoration: none;
	color: #3ac7fe;
}

.container a.curata:hover{
	color: #01aff3;
}

.container2{
	background-color: #f2f2f2;
	color: #222;
	text-align: center;
	height: 700px;
}

.container2 .column{
	width: 12%;
	display: inline-block;
	vertical-align: middle;
	margin: 2%;
}

.container2 a {
	text-decoration: none;
	color: #222;
}

.container a.twitter:hover{
	color: #55acee;
}

.container a.linkedin:hover{
	color: #0077b5;
}

.container a.medium:hover{
	color: #00ab6b;
}

.container a.articles:hover{
	color: #E74C3C;
}

.container3{
	background-color: #01aff3;
	color: #f2f2f2;
	text-align: center;
}

.container3 img.curatalogo {
	max-width: 300px;
	background-color: #fff;
	padding: 0px 10px;
	border-radius:5px;
	margin-top:5%;
}

.container3 h1{
	font-family: 'Londrina Shadow', sans-serif;
	font-size: 60px;
	letter-spacing: .1em;
}

.container3 .column{
	width: 10%;
	display: inline-block;
	vertical-align: middle;
	margin: 0% 5% 2%;
}

.container3 .column img {
	width: 100%;
}

.container4{
	background-color: #f2f2f2;
	color: #555;
	text-align: center;
}

.container4 h1{
	font-family: 'Londrina Shadow', sans-serif;
	font-size: 60px;
	padding-top: 5%;
	letter-spacing: .1em;
}

.container4 h1 a{
	text-decoration: none;
	color: #555;
}

.container4 h1 a:hover{
	color: #fcdb0a;
}

.container4 .column{
	width: 20%;
	display: inline-block;
	vertical-align: middle;
	margin-bottom: 5%;
}

.container4 .column img {
	width: 100%;
}

.container5{
	background-color: #00ab6b;
	color: #f2f2f2;
	text-align: center;
}

.container5 h1{
	font-family: 'Londrina Shadow', sans-serif;
	font-size: 60px;
	padding-top: 5%;
	letter-spacing: .1em;
}

.container5 .thumbnail img{
	background-color: #f2f2f2;
	border-radius: 3px;
	margin-bottom: 5%;
	box-shadow: #008956 1px 1px 3px 3px;
}

.container6{
	background-color: #222;
	color: #f2f2f2;
	text-align: center;
	padding-top: 2%;
}

.container6 a{
	color:#fff;
	text-decoration: underline;
}

